In [4]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
school_count = school_data_complete['school_name'].nunique()
print(school_count)

15

In [6]:
total_students = school_data_complete['student_name'].count()
print(total_students)

39170

In [7]:
total_budget = school_data['budget'].sum()
print(total_budget)

24649428

In [8]:
average_math_score = school_data_complete['math_score'].mean()
print(average_math_score)

78.98537145774827

In [9]:
average_reading_score = school_data_complete['reading_score'].mean()
print(average_reading_score)

81.87784018381414

In [10]:
passing_math_count = school_data_complete[(school_data_complete['math_score'] >= 70)] .count()['student_name']
percent_passing_math = passing_math_count/total_students * 100
print(percent_passing_math)

74.9808526933878

In [11]:
passing_reading_count = school_data_complete[(school_data_complete['reading_score']>=70)].count()['student_name']
percent_passing_reading = passing_reading_count/total_students*100
print(percent_passing_reading)

85.80546336482001

In [12]:
reading_math_pass_count = school_data_complete[(school_data_complete['reading_score']>=70) & 
(school_data_complete['math_score'] >= 70)].count()['student_name']
percent_paassing_both = reading_math_pass_count/total_students*100
print(percent_paassing_both)

65.17232575950983

In [13]:
print(school_data)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [14]:
school_types = school_data.set_index(['school_name'])["type"]
print(school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [15]:
total_students_school = school_data_complete.groupby(["school_name"])["student_name"].count()
print(total_students_school)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [16]:
total_school_budget = school_data.set_index(["school_name"])["budget"]
print(total_school_budget)

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [34]:
average_math_score = school_data_complete.groupby(["school_name"])["math_score"].mean()
print(average_math_score)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [36]:
average_reading_score = school_data_complete.groupby(["school_name"])["reading_score"].mean()
print(average_reading_score)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [32]:
school_data_complete["passed_math"]=school_data_complete["math_score"]>=70

passed_math = school_data_complete.groupby('school_name')['passed_math'].sum()
total_students_math = school_data_complete.groupby('school_name').size()

percentage_passed_math = (passed_math/total_students_math)*100

print(percentage_passed_math)

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [30]:
school_data_complete["passed_reading"]=school_data_complete["reading_score"]>=70

passed_reading = school_data_complete.groupby('school_name')['passed_reading'].sum()
total_students_reading = school_data_complete.groupby('school_name').size()

percentage_passed_reading = (passed_reading/total_students_reading)*100

print(percentage_passed_reading)

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [21]:
school_data_complete["passed_both"]=(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)

passed_both = school_data_complete.groupby('school_name')['passed_both'].sum()

total_studentss = school_data_complete.groupby('school_name').size()

percentage_passed_both = (passed_both/total_studentss)*100

print(percentage_passed_both)

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [27]:
top_schools = percentage_passed_both.sort_values(ascending=False).head(5)
print(top_schools)

school_name
Cabrera High School    91.334769
Thomas High School     90.948012
Griffin High School    90.599455
Wilson High School     90.582567
Pena High School       90.540541
dtype: float64

In [23]:
bottom_schools = percentage_passed_both.sort_values(ascending=True).head(5)
print(bottom_schools)

school_name
Rodriguez High School    52.988247
Figueroa High School     53.204476
Huang High School        53.513884
Hernandez High School    53.527508
Johnson High School      53.539172
dtype: float64

In [24]:
average_math_score_grade = school_data_complete.groupby(["grade"])["math_score"].mean()
print(average_math_score_grade)

grade
10th    78.941483
11th    79.083548
12th    78.993164
9th     78.935659
Name: math_score, dtype: float64

In [25]:
average_reading_score_grade = school_data_complete.groupby(["grade"])["reading_score"].mean()
print(average_reading_score_grade)

grade
10th    81.874410
11th    81.885714
12th    81.819851
9th     81.914358
Name: reading_score, dtype: float64

In [ ]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]